.mark {
  display: block;
  flex-shrink: 0;
  width: auto;
  height: auto;
  object-fit: contain;
}

.sm {
  height: 2.5rem;
}

.md {
  height: 2.75rem;
}

.header {
  height: 5rem;
}

.lg {
  height: 3.25rem;
}
